//fondo claro
$color__central: #465858;
$color__textos: #b7aedd;
$color__shadows: #1a2431;
$color__fondo: white;
$fuente__texto: consolas;
$gradiente__color1: #96c4c4;
$gradiente__color2: rgb(255, 255, 255);
//fondo oscuro
$color__central__dark: #025d5a;
$color__textos__dark: rgb(181, 255, 234);
$color__shadows__dark: #000000;
$color__fondo__dark: grey;