//archivos main de sass

//varaibles 
@import 'variables';



/* ajustes generales */
body { //configuracion del body
    background: $gradiente__color1;
    background: linear-gradient(0deg, $gradiente__color1 0%, $gradiente__color2 100%);
    margin: 0;
    .nav-link:hover{ 
        color: $color__textos;
        background-color: $color__fondo;
        text-shadow: 10px 10px 10px $color__shadows;
    }
    .nav-link{
        margin: 5px;
        font-family: $fuente__texto;
    }
    .dropdown-menu{
        .dropdown-item{
            font-family: $fuente__texto;
        }
        .dropdown-item:hover{
            color: $color__textos;
            text-shadow: 10px 10px 10px $color__shadows
        }
    }
    .navbar-nav me-auto:hover{background-color: $color__textos;}
    .btn:hover{background-color: $color__textos;}
    .navbar-brand:hover{
        color: $color__textos;
        background-color: $color__fondo;
        text-shadow: 10px 10px 10px $color__shadows;
    }
    .navbar-brand{
        font-family: $fuente__texto;
    }
}

/* Ajustes INDEX */

header {
    h5 {
        text-align: center;
        padding: 1px;
        margin: 0;
        font-family: $fuente__texto;
        color: white;
        background-color: $color__shadows__dark;
    }
    .batto-logo{
        width: 50px;
        height: auto;
        border-radius: 30%;
    }
}

.cuotas {
    text-align: center;
    padding: 20px;
    margin: 0;
    font-family: $fuente__texto;
    font-size: 50px;
    color: white;
    background-color: $color__shadows__dark;
}


#reciente-cartera { // section del index
    @media (min-width: 1024px) {
        #img-carteraid {
            grid-column: 1 /3;
            grid-row: 1 / 3;
        }
    }
    h4{
        text-align: center;
        font-size: 30px;
        font-style: italic;
        color: $color__textos;
        text-shadow: 2px 2px 2px $color__shadows;
    }
    .galeria-cartera{
        .paquete-venta {
            display: inline-block;
            position:relative;
            text-align: center;
            margin-top: 25px;
            margin-bottom: 50px;
            .descuento {
                font-family: $fuente__texto;
                position: absolute;
                top: 0%;
                left: 0%;
                background-color: #000000;
                color: white;
                padding: 2px;
            }
            .prod-nuevo {
                position: absolute;
                color: #000000;
                font-family: $fuente__texto;
                bottom: 0%;
                right: 0%;
                background-color: skyblue;
            }
            .cartel-precio {
                font-family: $fuente__texto;
                font-size: large;
                font-style: oblique;
            }
            .cartel-cuotas {
                font-family: $fuente__texto;
                font-style: italic;
                color: red;
            }

        }
        min-height: 100vh;
        width: 75%;
        //outline: 5px solid $color__central;
        margin: 0 auto;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 
        repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 50px;
        //background-color: $color__central;
        .img-cartera {
            padding: 5px;
            border-radius: 2%;
            width: 100%;
            height: 100%;
        }
        .img-cartera:hover{
            filter: brightness(60%);
            transition: all 1s;
        }
    }
}

.carousel{ // carrusel iamgen y texto
    .carousel-inner{
        .carousel-item:hover {
            img {
                filter: brightness(70%);
                transition: all 1s;
            }
        }
        .carousel-item{
            img{
                width: 100%;
                height: auto;
                border-radius: 1%;
            }
            .carousel-caption{ // estilos de texto dentro del carrusel
                font-family: $fuente__texto;
                font-size: 40px;
                color: $color__textos;
                text-shadow: 1px 1px 1px #000000;
                //font-style: italic;
                h5{
                    text-shadow: -2px 2px 2px #fff;
                    color: #000000;
                    background-color: rgb(207, 8, 8);
                    display: inline;
                    margin: 0;
                    padding: 2%;
                    font-family: $fuente__texto;
                    font-size: 40px;
                    //font-style: italic;
                }
                p {
                    background-color: skyblue;
                    display: inline-block;
                    color: wheat;
                    font-style: italic;
                    font-family: $fuente__texto;
                }
            }
        }
    }
}

//categorias
.nuestras-categorias {
    text-align: center;
    margin: 0;
    padding: 25px;
    font-family: $fuente__texto;
    font-size: xx-large;
    font-style: oblique;
    text-shadow: 2px 2px 10px $color__central__dark;
}
.categorias {
    display: flex;
    .img-categoria {
        width: 100%;
        display: inline-block;
        position: relative;
        img {
            width: 450px;
            height: 600px;
        }
        .texto-encima {
            visibility: hidden;
            //display: none;
            font-family: $fuente__texto;
            font-size: x-large;
            background-color: red;
            color: whitesmoke;
            position: absolute;
            bottom: 10px;
            left: 40%;
        }
        .centrado {
            visibility: hidden;
            //display: none;
            font-family: $fuente__texto;
            background-color: skyblue;
            position: absolute;
            font-style: italic;
            bottom: 10%;
            left: 50%;
        }
    }
    .img-categoria:hover {
        img {
            filter: brightness(60%);
            transition: all 1s;
        }
        .texto-encima {
            visibility: visible;
            transform: translate(0, -15px);
            transition: all 1s;
        }
        .centrado{
            visibility: visible;
            transform: translate(-46px);
            transition: all 1s;
        }
    }
}

@media (max-width: 992px) {
    .categorias {
        align-items: center;
        align-self: center;
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 20%;
        width: 75%;
    }
}

@media (max-width: 426px) {
    .categorias {
        align-items: center;
        align-self: center;
        display: inline-block;
        margin: 0;
        padding: 20%;
        left: 15%;
        .img-categoria {
            img {
                display: inline-block;
                position: relative;
                width: 150px;
                height: auto;
            }
            .texto-encima {
                display: none;
            }
            .centrado {
                display: none;
            }
        }
        .img-categoria:hover {
            .texto-encima{
                display: none;
            }
            .centrado {
                display: none;
            }
        }
    }
}
/* Ajustes Footer */

footer{ //configuracion del footer
    background-color: $color__central;
    width: 100%;
    height: 70px;
    color: white;
    border: 0;
    margin-top: 50px;
    padding: 0;
    outline: 0;
    display: block;
    p {
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        text-shadow: 1px 1px 1px $color__shadows;
    }
}

/* Ajustes de pagina Mini Bolsas */

.errorsection { // Configuracion de section de mini bolsas
    .error{ //ajustes del div 
        min-height: 75vh;
        width: 75%;
        outline: 5px solid $color__central;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 
        repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 10px;
        background-color: $color__central;
        img { //ajustes de la imagen
            border-radius: 5%;
            padding: 5px;
            border-radius: 2%;
            width: 100%;
            object-fit: cover;
        }
    }
    h4 { //centrado de texto
        color: $color__textos;
        text-shadow: 1px 1px 1px $color__central;
        text-align: center;
        margin-top: 50px;
    }
}
