//archivos main de sass


/* ajustes generales */
body { //configuracion del body
    margin: 0;
    .nav-link:hover{ color: palevioletred;}
    .navbar-nav me-auto:hover{background-color: palevioletred;}
    .btn:hover{background-color: palevioletred;}
    .navbar-brand:hover{color: palevioletred;}
}

/* Ajustes INDEX */

#reciente-cartera { // section del index
    h4{
        text-align: center;
        font-size: 30px;
        font-style: italic;
        color: palevioletred;
        text-shadow: 2px 2px 2px #392D2A;
    }
    .galeria-cartera{
        min-height: 100vh;
        width: 75%;
        outline: 5px solid #392D2A;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 
        repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 10px;
        background-color: #392D2A;
        .img-cartera {
            padding: 5px;
            border-radius: 2%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (min-width: 1024px) {
            #img-carteraid {
                grid-column: 1 /3;
                grid-row: 1 / 3;
            }
        }
        .d-block{
            border-radius: 1%;
        }
    }
}

.carousel-caption{ // estilos de texto dentro del carrusel
    font-size: 40px;
    color: palevioletred;
    text-shadow: 1px 1px 1px #000000;
    font-style: italic;
    h5{
        font-size: 40px;
        font-style: italic;
    }
}

/* Ajustes Footer */

footer{ //configuracion del footer
    background-color: #392D2A;
    width: 100%;
    height: 70px;
    color: #fff;
    border: 0;
    margin-top: 50px;
    padding: 0;
    outline: 0;
    display: block;
    p {
        text-align: center;
        font-size: 15px;
        font-family: sans-serif;
        text-shadow: 2px 2px 2px #0f0f0f;
    }
}

/* Ajustes de pagina Mini Bolsas */

.errorsection { // Configuracion de section de mini bolsas
    .error{ //ajustes del div 
        min-height: 75vh;
        width: 75%;
        outline: 5px solid #392D2A;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 
        repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 10px;
        background-color: #392D2A;
        img { //ajustes de la imagen
            border-radius: 5%;
            padding: 5px;
            border-radius: 2%;
            width: 100%;
            object-fit: cover;
        }
    }
    h4 { //centrado de texto
        text-align: center;
        margin-top: 50px;
    }
}

